$font-main: "Roboto", sans-serif;
$font-accent: "Pacifico", cursive;
$font-size: 14px;

$color-primary: #354052;
$color-accent: #f15572;
$additional-color: #999999;
$color-active: #36af47;
$white-color: #ffffff;
$color-light: #c7c7c7;
$bg-light-color: #f7f7f7;

$xl: 1440px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;

$gap: 15px;
