.block-quote {
  background-color: $bg-light-color;
}
.quote {
  position: relative;
  padding: 60px 5px 40px 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include md-min {
    padding: 100px 5px 100px 3px;
    flex-wrap: nowrap;
  }

  &__square {
    height: 95px;
    background: linear-gradient(0deg, rgba(243, 156, 52, 1) 0%, rgba(240, 98, 118, 1) 100%);

    @include sm-min {
      margin: 0 50px 0 0;
      width: 160px;
    }
    @include sm-xs {
      margin: 0 50px 0 50px;
    }
    @include sm {
      width: 100%;
    }
  }

  &__person {
    position: absolute;

    @include sm-min {
      left: 125px;
    }

    @include sm-xs {
      top: 18px;
      left: 41%;

      width: 120px;
    }
    @include xs {
      top: 22px;
      right: 50%;
      transform: translateX(50%);
      width: 110px;
    }
  }

  &__arrow {
    font-size: 2.7rem;
    color: $color-primary;
  }

  &__text {
    font-weight: 400;
    font-size: 1.2rem;
    font-style: italic;
    padding: 20px;

    @include md-min {
      max-width: 780px;
    }

    @include md-sm {
      max-width: 380px;
    }
    @include sm-xs {
      text-align: center;
      top: 270px;
      right: 10px;
      max-width: 400px;
    }
    @include xs {
      max-width: 70%;
    }
  }

  &__mark {
    position: absolute;
    max-width: 100px;
    top: 355px;
    right: 10px;

    @include xl-min {
      top: -155px;
      top: 190px;
      right: -115px;
    }

    @include xl-lg {
      max-width: 250px;
      top: 220px;
      right: 0px;
    }
    @include lg-md {
      max-width: 150px;
      top: 250px;
      right: 10px;
    }
    @include md-sm {
      top: 270px;
      right: 10px;
    }
    @include sm-xs {
      top: 380px;
      right: 10px;
    }
    @include xs {
      top: 93%;
      right: 10px;
    }
  }
}
