.team {
  text-align: center;
  margin-bottom: 40px;

  &-greeteeng {
    margin-top: 50px;
    font-family: $font-accent;
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: capitalize;

    @include sm-min {
      margin-top: 90px;
    }
  }

  &-title {
    margin: 25px 0 65px;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  &-members {
    @include xs-min {
      display: flex;
      justify-content: space-between;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include xs {
        padding-bottom: 50px;
      }

      @include md {
        margin: 0 20px;
      }

      &__photo {
        @include img-styles;
        max-width: 180px;

        @include md-min {
          max-width: 280px;
        }
      }

      &__name {
        text-transform: uppercase;
        font-size: 1.2rem;
      }

      &__decsription {
        line-height: 1.5;
        max-width: 325px;
      }
    }
  }
}
